@model IEnumerable<HotelApplication.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Room" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Zoek" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomAvailability)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAvailability)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomID">Wijzigen</a> |
                <a asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
